<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_head') %>
    <title>TinyApp</title>
  </head>
  <body>
    <%- include('partials/_header') %>
    <main style="margin: 1em">
      <h3>My URLs</h3>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">Short URL ID</th>
            <th scope="col">Long URL</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
            <th scope="col">Visits</th>
            <th scope="col">Unique Visits</th>
            <th scope="col">Created</th>
          </tr>
        </thead>

        <tbody>
          <% for (const urlId in userUrls) { %> 
              <tr>
                <td><%= urlId %></td>
                <td><%= userUrls[urlId].longURL %></td>
                <td>
                  <a class="btn btn-primary" href="/urls/<%= urlId %>">Edit</a>
                </td>
                <td>
                  <form method="POST" action="/urls/<%= urlId %>/delete?_method=DELETE">
                    <button class="btn btn-danger" type="submit">Delete</button>
                  </form>
                </td>
                <td><%= userUrls[urlId].visits %></td>
                <td><%= userUrls[urlId].uniqueVisits %></td>
                <td><%= userUrls[urlId].created%></td>
              </tr>
         <% } %>
        </tbody>
      </table>
      <a class="btn btn-primary" href="/urls/new">Add New URL</a>
    </main>
    <%- include('partials/_bootstrap_js') %>
  </body>
</html>
