<!DOCTYPE html>
<html lang="en">
  <head>
   <%- include('partials/_head') %>
    <title>TinyApp</title>
  </head>
  <body>
    <%- include('partials/_header') %>
    <main style="margin: 1em">
      <h3>My URLs</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Short URL ID</th>
            <th scope="col">Long URL</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>

        <tbody>
          <% for (const id in urls) { %>
          <tr>
            <td>
              <a class="nav_item nav-link" href="/urls/<%= id %>"><%= id %></a>
              
            </td>
            <td><%= urls[id] %></td>
            <td>
              <form method="POST" action="/urls/<%= id %>/delete">
              <button class="btn btn-danger" type="submit">Delete</button>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </main>
    <%- include('partials/_bootstrap_js') %>
  </body>
</html>
