<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_head') %>
    <title>URL - TinyApp Example</title>
  </head>

  <body>
    <%- include('partials/_header') %>
    <div class="card text-center">
      <div class="card-header"></div>
      <div class="card-body">
        <h5 class="card-title">TinyURL for <%= longURL %></h5>
        <p class="card-text">
          Tiny URL ID:
          <a class="nav_item nav-link" href="/u/<%= urlId %>"><%= urlId %></a>
        </p>
      </div>
      <div class="card-footer text-muted">
        <h4>Edit:</h4>
        <form
          class="form"
          action="/urls/<%= urlId %>?_method=PUT"
          method="POST"
        >
          <div class="form-group mb-2">
            <label for="longURL">New URL:</label>
            <input
              class="form-center"
              type="text"
              name="longURL"
              placeholder="http://"
              style="width: 300px; margin: 1em"
            />
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
      <div>
        <h4>Usage Stats:</h4>
        <div class="card-footer text-muted">
          <p class="card-text">Visits: <%= visits %></p>
          <p class="card-text">Unique Visits: <%= uniqueVisits %></p>
        </div>
        <div class="card-footer text-muted">
          <span class="card-text">Visitors:</span>
        <table class="table table-responsive table-striped" style="position: relative;;">
          <thead>
            <tr>
              <th scope="col">Session ID</th>
              <th scope="col">Time Stamp</th>
            </tr>
          </thead>
          <% for (const visitor in (visitors)) { %>
          <tr>
            <td><%= visitors[visitor].sessionID %></td>
            <td><%= visitors[visitor].timeStamp %></td>
          </tr>
          <% } %>
        </table>
      </div>
    </div>
    <%- include('partials/_bootstrap_js') %>
  </body>
</html>
